@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
  }
  
  body {
    direction: 'rtl';
    padding: 0;
    margin: 0 auto;
    font-family: 'IRANSans';
    /* max-width: 1920px; */
    font-size: 16px !important;
    height: 100vh;
    transition: 1s background-color ease-in-out;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    touch-action: manipulation;
    min-height: --webkit-fill-available;
    background-color:rgb(245, 245, 245);
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  .main-container {
    max-width: 1280px;
    margin: 0 auto;
  }